
<table>
    <caption>Customers</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Membership</th>
     
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <tr *ngFor="let customer of (customers$ |async)">
   <td scope="row"> {{customer.name}}</td>
            <td id="num-td">{{customer.phone}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.membership}}</td>
            <td><a (click)="editCustomerr(customer.id)" >edit</a><br><a (click)="deleteCustomer(customer.id)">delete</a></td>
           
          </tr>

  </tbody>
</table>